# LangChain Core
langchain
langchain-core
langchain-community   

# Google Gemini
langchain-google-genai
google-generativeai

# OpenAI
langchain-openai
openai

# Anthropic (Claude)
langchain-anthropic

# Hugging Face
langchain-huggingface
transformers
huggingface-hub

# Env
python-dotenv

# ML Utilities (Optional)
numpy
scikit-learn

streamlit
pydantic


streamlit==1.35.0

langchain==0.2.14
langchain-core==0.2.36
langchain-community==0.2.12
langchain-groq==0.1.9

langchain-openai
langchain-google-genai

openai
google-generativeai

python-dotenv==1.0.1

requests
beautifulsoup4

pydantic==2.7.4
numpy

pandas
chromadb

pypdf